<h1 class="Consigna">INGRESE LOS DATOS PEDIDOS A CONTINUACION PARA AGREGAR UN NUEVO INGREDIENTE</h1></center>
<div >
<form class="Consigna" action='@Url.Action("GuardarIngrediente", "Home")' method="post" enctype="multipart/form-data">

  <input class="form-control" type="hidden" name="ID" value="@ViewBag.ID">

  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingresen el nombre del ingrediente</label>
    <input type="text" name="Nombre" class="form-control" id="exampleInputname1" required>
  </div>

  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingrese la cantidad necesaria de unidades del ingrediente</label>
    <input type="text" name="CantNecesaria" class="form-control" id="exampleInputname1" required>
  </div>

<div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingrese la cantidad de calorías que posee el ingrediente</label>
    <input type="number" name="Calorias" class="form-control" id="exampleInputname1" required>
  </div>
  <input class="form-group" type="file" name="Imagen" required>

  
  <button  type="submit" class="btn btn-primary">Guardar ingrediente</button>
</form>
</div>