<h3 class="Titulo2 Consignados">Ingrese los datos pedidos a continuacion para agregar un nuevo ingrediente</h3></center>
<div >
<form class="Consignados" action='@Url.Action("GuardarIngrediente", "Home")' method="post" enctype="multipart/form-data">

  <input class="form-control" type="hidden" name="ID" value="@ViewBag.ID">

  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingresen el nombre del ingrediente</label>
    <input type="text" name="Nombre" class="form-control" id="exampleInputname1" required>
  </div>

  <div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingrese la cantidad necesaria de unidades del ingrediente</label>
    <input type="text" name="CantNecesaria" class="form-control" id="exampleInputname1" required>
  </div>

<div class="form-group">
    <label class="textForm" for="exampleInputname1">Ingrese la cantidad de calorías que posee el ingrediente</label>
    <input type="number" name="Calorias" class="form-control" id="exampleInputname1" required>
  </div>
  <div class="form-group">
<label class="textForm" for="exampleInputname1">Ingrese la foto</label>
   <input class="form-group" type="file" name="Imagen" required>
    </div>

  
  <center><button  type="submit" class="btn btn-primary">Guardar ingrediente</button></center>
</form>
</div>