
<form action='@Url.Action("Mostrar", "Home")' method="post" enctype="multipart/form-data">


<input class="imagen1 imagen2" type="image" name="val" src='ingredientes.jpg' value="0">
<input class="imagen1 imagen2" type="image" name="val" src='recetas.jpg' value="1">
</form>

