
<form action='@Url.Action("Mostrar", "Home")' method="post" enctype="multipart/form-data">


<a href="/Home/Mostrar?val=0"> <img  class="imagen1 imagen2"  src='ingredientes.jpg' ></a>
<a href="/Home/Mostrar?val=1"> <img  class="imagen1 imagen2"  src='recetas.jpg' ></a>



<center>
    <div >
            <div id="container">     
                    <label for="boton" class="fill">Agregar una receta</label>
                    <input type="hidden" id="tipo" value=@ViewBag.Pantalla>
                </div>

            <div id="agregarreceta"></div>
    </div>  

    <div id="agregarreceta">
</center>

