
<form action='@Url.Action("Mostrar", "Home")' method="post" enctype="multipart/form-data">


<input class="imagen1 imagen2" type="image" name="val" src='ingredientes.jpg' value="0">
<input class="imagen1 imagen2" type="image" name="val" src='recetas.jpg' value="1">
</form>
<center>
    <div >
            <div id="container">     
                    <a type="button" class="fill vacio" href='@Url.Action("AgregarReceta", "Home")'>Agregar una receta</a>
                     <!--<input type="button" href='@Url.Action("AgregarReceta", "Home")' name= "Agregar" id="boton" hidden="true">-->

                </div>

            <div id="AgregarReceta"></div>
    </div>  

    <div id="AgregarReceta">
</center>

