

<script src="wwwroot\js\site.js"></script>
<center>
<div >
                <div id="container">
                    
                    <input type="button" onclick="Buscar()" name= "Buscar">
                    <input type="text" id="buscar" length="200px">
                    <input type="hidden" id="tipo" value=@ViewBag.Pantalla>
                </div>

                <div id="ingredientes"></div>
    </div>



<div id="ingredientes">
</center>

    
</div>
