

<script src="wwwroot\js\site.js"></script>
<div >
                <div id="container">
                    <input type="button" onclick="BuscarIngredientes()">Buscar</input>
                    <input type="text" id="buscar" length="200px">
                </div>

                <div id="ingredientes"></div>
    </div>



<div id="ingredientes">
    
</div>
