@using TP8.Models;

<center><a class="Misrecetas">Mis recetas</a></center>

@foreach (Recetas r in @ViewBag.Receta)
{
<div class="row MisRecetas">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title NombreReceta">@r.Nombre</h5>
        <p class="card-text">@r.Ingredientes</p>
        <img src="@r.Imagen">
      </div>
    </div>
  </div>
  </div>
}