@using TP8.Models;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<form class="Consigna" action='@Url.Action("GuardarSelecIngredientes", "Home")' method="post" enctype="multipart/form-data">

@foreach (Ingredientes ing in @ViewBag.Ingredientes)
  {

    <label><input type="checkbox" id="cbox1" value="@ing.ID" required> @ing.Nombre</label><br>

  }
  <button  type="submit" class="btn btn-primary check">Guardar Receta</button>
  </form>